/* *{
  margin: 0 ;
  padding: 0;
} */

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}

.topnav {
  background-color: #1a1a1a;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sidebar,
.right-sidebar {
  padding: 20px;
  background: #f1f1f1;
}

.main-feed {
  padding: 20px;
  background: white;
}


/* Custom Scrollbar Styling */
/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 4px; /* Scrollbar width */
  height: 10px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar:hover{
  width: 10px; /* Scrollbar width */
  height: 10px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
  border-radius: 5px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #43C6AC; /* Thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #43C6AC; /* Thumb color on hover */
  /* width: 10px;  */
}

::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

